.hoverScale {
  /* Initial state */
  transition: transform 0.3s ease-in-out;
}

.hoverScale:hover {
  transform: scale(1.07);
}
@media (max-width: 767px) {
  .introContainer {
    padding: 0 20px !important;
  }
  .slickcontainer {
    width: 320px !important;
  }
}
